<div class="footer-container">
    <div class="footer-content container d-flex flex-wrap justify-content-between align-items-start py-4 text-white">

        <!-- Logo Section -->
        <div class="logo-content mb-3">
            <a routerLink="/home" class="agriLogo">
                <img src="Green_RLT_LOGO.png" alt="RLT Logo" class="image">
                <div class="d-flex flex-column">
                    <span class="logo-text-1">RLT INSTITUTE OF</span>
                    <span class="logo-text-2">AGRICULTURE AND HORTICULTURE</span>
                    <span class="logo-slogan">“Where Nature Meets Nurture in Education”</span>
                    <span class="logo-affiliation">Affiliated to Alagappa University & JNTC</span>
                </div>
            </a>
        </div>


        <!-- Quick Links -->
        <div class="footer-links mb-3">
            <h5 class="footer-heading">Quick Links</h5>
            <ul class="list-unstyled">
                <li><a routerLink="/about" class="footer-link">About Us</a></li>
                <li><a routerLink="/our-courses" class="footer-link">Our Courses</a></li>
                <li><a routerLink="/diploma-in-agriculture" class="footer-link">Diploma in Agriculture</a></li>
                <li><a routerLink="/diploma-in-horticultural" class="footer-link">Diploma in Horticultural</a></li>
            </ul>
        </div>

        <!-- Contact Info -->
        <div class="footer-contact mb-3">
            <h5 class="footer-heading">Connect Us</h5>
            <a href="https://maps.app.goo.gl/WZ8zXBpgzuZunasD7" class="mb-1" target="_blank"><i class="fa-solid fa-location-dot"></i> No
                2, College Road, Athur, Kongadu, <br>Tamil Nadu
                603101</a><br>
            <a href="tel:+917358713713" class="mb-1"><i class="fa-solid fa-phone"></i> +91 73587 13713</a><br>
            <a href="mailto:contact@rltiihm.com" class="mb-1"><i class="fa-solid fa-envelope-circle-check"></i>
                contact@rltiihm.com</a>
        </div>

        <!-- Social Media -->
        <div class="footer-social mb-3">
            <h5 class="footer-heading">Stay Connected</h5>
            <div class="social-grid">
                <a href="" class="footer-social-icon facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="" class="footer-social-icon instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="" class="footer-social-icon twitter"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="" class="footer-social-icon linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>

    <!-- Bottom Bar -->
    <div class="footer-bottom text-center text-white py-3">
        © 2025 <strong>RLT Institute of Agriculture and Horticulture</strong>. All rights reserved.
    </div>
</div>