<!-- Top Contact Bar -->
<nav class="navbar custom-bg-1 py-1">
  <div class="container-fluid d-flex justify-content-between align-items-center px-3">
    <div class="mail">
      <i class="fa-regular fa-envelope"></i>
      <a href="mailto:contact@rltiihm.com" class="mail-id">contact@rltiihm.com</a>
    </div>
    <div class="mobile">
      <i class="fa-solid fa-mobile-screen"></i>
      <a href="tel:+917358713713" class="phone">+91 7358713713</a>
    </div>
  </div>
</nav>

<!-- Logo + Navbar -->
<nav class="navbar navbar-expand-lg custom-bg-2 sticky-top">
  <div class="container-fluid px-3">
    <a routerLink="/home" class="agriLogo">
      <img src="Green_RLT_LOGO.png" alt="RLT Logo" class="image">
      <div class="d-flex flex-column">
        <span class="logo-text-1">RLT INSTITUTE OF</span>
        <span class="logo-text-2">AGRICULTURE AND HORTICULTURE</span>
      </div>
    </a>

 

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav text-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>

        <!-- Diploma Courses -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="diplomaDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Diploma Courses <i class="fas fa-angle-down ms-2"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="diplomaDropdown">
            <!-- P.G. Diploma Dropdown Submenu -->
            <li class="dropdown-submenu">
              <a class="dropdown-item">P.G. Diploma Courses <i class="fas fa-angle-right ms-2"></i></a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/diploma-in-agriculture-management">P.G. Diploma in Agriculture
                    Management</a></li>
                <li><a class="dropdown-item" routerLink="/diploma-in-horticultural-management">P.G. Diploma in
                    Horticultural
                    Management</a></li>
                <li><a class="dropdown-item" routerLink="/diploma-in-plantation-management">P.G. Diploma in Plantation
                    Management</a></li>
              </ul>
            </li>

            <!-- UG Diploma Dropdown Submenu -->
            <li class="dropdown-submenu">
              <a class="dropdown-item">U.G. Diploma Courses <i class="fas fa-angle-right ms-2"></i></a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/diploma-in-agriculture">Diploma in Agriculture</a></li>
                <li><a class="dropdown-item" routerLink="/diploma-in-horticultural">Diploma in Horticultural</a></li>
                <li><a class="dropdown-item" routerLink="/diploma-in-farm-management">Diploma in Farm Management</a>
                </li>
                <li><a class="dropdown-item" routerLink="/diploma-in-fodder-feed-management">Diploma in Fodder & Feed
                    Management</a>
                </li>
                <li><a class="dropdown-item" routerLink="/diploma-in-vegetable-production">Diploma in Vegetable
                    Production</a></li>
                <li><a class="dropdown-item" routerLink="/diploma-in-seed-management">Diploma in Seed Management</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- Certificate Courses -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Certificate Courses <i
              class="fas fa-angle-down ms-2"></i></a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" routerLink="/certificate-course-in-mushroom-production">Certificate Course in
                Mushroom Production</a></li>
            <li><a class="dropdown-item" routerLink="/certificate-course-in-organic-farming">Certificate Course in
                Organic Farming</a></li>
            <li><a class="dropdown-item" routerLink="/certificate-course-in-bio-fertilizer-production">Certificate
                Course in Bio Fertilizer Production</a></li>
            <li><a class="dropdown-item" routerLink="/certificate-course-in-farm-management">Certificate Course in Farm
                Management</a></li>
            <li><a class="dropdown-item" routerLink="/certificate-courses-in-horticulture">Certificate Course in
                Horticulture</a></li>
            <li><a class="dropdown-item" routerLink="/certificate-courses-in-fodder-feed-management">Certificate Course
                in Fodder & Feed Management</a></li>
            <li><a class="dropdown-item" routerLink="/certificate-courses-in-poultry-farming">Certificate Course in
                Poultry Farming</a></li>
            <li><a class="dropdown-item" routerLink="/certificate-courses-in-dairy-farming">Certificate Course in Dairy
                Farming</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link social-icon" href="https://facebook.com" target="_blank"><i
              class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link social-icon" href="https://instagram.com" target="_blank"><i
              class="fab fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link social-icon" href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link social-icon" href="https://linkedin.com" target="_blank"><i
              class="fab fa-linkedin-in"></i></a>
        </li>
      </ul>
    </div>
    
  <app-mobile-header></app-mobile-header>
  </div>

</nav>